2_bronze_ingestion_adf/pipelines/pl_bootstrap.json
{
    "name": "pl_bootstrap",
    "properties": {
        "activities": [
            {
                "name": "Lookup_bootstrap_config",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "generic_adls_flat_file_ds",
                        "type": "DatasetReference",
                        "parameters": {
                            "container": "configs",
                            "file_path": "bootstrap",
                            "file_name": "bootstrap_load_config.csv"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEachRow",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup_bootstrap_config",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup_bootstrap_config').output.value\n",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "IF CSV Exist AND is_active True",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Get Metadata CSV",
                                    "dependencyConditions": [
                                        "Completed"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@and(equals(int(item().is_active), 1), activity('Get Metadata CSV').output.exists)",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Copy CSV to Database",
                                        "type": "Copy",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "DelimitedTextSource",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSReadSettings",
                                                    "recursive": true,
                                                    "enablePartitionDiscovery": false
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextReadSettings"
                                                }
                                            },
                                            "sink": {
                                                "type": "AzureSqlSink",
                                                "writeBehavior": "insert",
                                                "sqlWriterUseTableLock": false
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "generic_adls_flat_file_ds",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "container": {
                                                        "value": "@item().src_container",
                                                        "type": "Expression"
                                                    },
                                                    "file_path": {
                                                        "value": "@item().src_file_path",
                                                        "type": "Expression"
                                                    },
                                                    "file_name": {
                                                        "value": "@item().src_file_name",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "generic_sql_ds",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "db_name": {
                                                        "value": "@item().tgt_db_name",
                                                        "type": "Expression"
                                                    },
                                                    "schema_name": {
                                                        "value": "@item().tgt_schema_name",
                                                        "type": "Expression"
                                                    },
                                                    "table_name": {
                                                        "value": "@item().tgt_table_name",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "name": "Get Metadata CSV",
                            "type": "GetMetadata",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "generic_adls_flat_file_ds",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "container": {
                                            "value": "@item().src_container",
                                            "type": "Expression"
                                        },
                                        "file_path": {
                                            "value": "@item().src_file_path",
                                            "type": "Expression"
                                        },
                                        "file_name": {
                                            "value": "@item().src_file_name",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "fieldList": [
                                    "exists"
                                ],
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2026-02-13T17:57:22Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}